In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [83]:
csv_dict = {}
for csvF in os.listdir('./DayChart')[3:]:
    try : csv_dict['csv_data{}'.format(csvF[:-4])] = pd.read_csv('./DayChart/' + csvF)
    except : continue

inner_join = pd.concat(csv_dict, join='inner')

dup_data = inner_join.duplicated(['title','artist','genre'])
res = inner_join[dup_data == True]
# for nm in res:
#     print(nm)
res[res['title'] == '바라만 본다']

                    no   title         artist genre    good
csv_data20210724 0   1  바라만 본다  MSG워너비(M.O.M)   발라드  121640
csv_data20210728 0   1  바라만 본다  MSG워너비(M.O.M)   발라드  126116

In [89]:
csv_dict = {}
for csvF in os.listdir('./DayChart')[3:]:
    try : 
        tmp = pd.read_csv('./DayChart/' + csvF)
        tmp.reset_index(inplace = True,drop=True)
        tmp.set_index('no',inplace = True)
        csv_dict['csv_data{}'.format(csvF[:-4])] = tmp
    except : continue

inner_join = pd.concat(csv_dict, join='inner',ignore_index=False)

dup_data = inner_join.duplicated(['title','artist','genre'])
res = inner_join[dup_data == True]
# for nm in res:
#     print(nm)
res[res['title'] == '바라만 본다']

                      title         artist genre    good
                 no
csv_data20210724 1   바라만 본다  MSG워너비(M.O.M)   발라드  121640
csv_data20210728 1   바라만 본다  MSG워너비(M.O.M)   발라드  126116